[submodule "dependencies/OpenCOLLADA/OpenCOLLADA"]
	path = dependencies/OpenCOLLADA/OpenCOLLADA
	url = https://github.com/KhronosGroup/OpenCOLLADA.git
[submodule "dependencies/rapidjson"]
	path = GLTF/dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "GLTF/dependencies/googletest"]
	path = GLTF/dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/ahoy"]
	path = dependencies/ahoy
	url = https://github.com/lasalvavida/ahoy.git
[submodule "dependencies/draco"]
	path = GLTF/dependencies/draco
	url = https://github.com/google/draco
