[submodule "dependencies/OpenCOLLADA"]
	path = dependencies/OpenCOLLADA
	url = https://github.com/KhronosGroup/OpenCOLLADA.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson
